header {
    background-color: rgb(9, 214, 251);
    background-image: url(./img/pattern.png);
    background-size: contain;
    height: 75px;
}

#logo {
    width: 25%; 
    height: 80%;}

#color_author {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 200;
}

#color_date {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
    font-weight: 100;
}

#descrizione_immagine {
    font-size: 10px;
}


/* sezione tabella */

table {width: 100%;}

/* inizio intestazione */

#thead_row {
    background-color: blue;
}

.thead_td12 {
    color: white;
    text-align: center;
    width: 20%;
}

#thead_td3 {
    color: white;
    text-align: center;
    width: 60%;
}

/* fine intestazione */
/* inizio table body */

.tr_aqua {
    background-color: aqua;
}
/* fine table body */

/* inizio footer */

#pi {
    color: grey;
}

#img_container1 {
    height: 300px;
    width: 300px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
} 

#pi1 {
    color: white;
    text-align: center

}

#img_container2 {
    height: 300px;
    width: 300px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

#pi2 {
    color: white;
    text-align: center
}
